* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 300vh; 
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/projects/projectBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: -1; 
    opacity: 0; 
    animation: fadeInFromTop 2s ease-out forwards;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

h1 {
    position: absolute;
    top: 13%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 100px; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    z-index: 1; 
}

.projects {
    padding-top: 57%;
}

.projects ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.projects li {
    margin-bottom: 235px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.projects .text {
    width: 70%; 
    padding: 20px; 
    box-sizing: border-box; 
    color: white;
}

.projects .left-style {
    flex-direction: row; 
    margin-left: 40%;
}

.projects .right-style {
    flex-direction: row-reverse; 
    margin-right: 50%;
}

.projects h1 {
    text-align: center;
    margin-bottom: 20px;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.projects p {
    font-size: 1rem;
    line-height: 1.6;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
